<div class="order-tracker">
    <div>
        Selected Food for {{orderManager.selectedDay}}
    </div>

    {{#each-in orderManager.menuSelection as |day menuOrder|}}
    <div class="col-md-2" {{action 'setDayTo' day}}>
        {{day}}
        <dl>
            <dt>Breakfast</dt>
            <dd>
                {{#if menuOrder.breakfast}}
                    {{menuOrder.breakfast}}<span class="remove-item" {{action 'remove' day 'breakfast'}}> X</span>
                {{/if}}
            </dd>
            <dt>Lunch</dt>
            {{#if menuOrder.lunch}}
                {{menuOrder.lunch}}<span class="remove-item" {{action 'remove' day 'lunch'}}> X</span>
            {{/if}}
            <dt>Dinner</dt>
            {{#if menuOrder.dinner}}
                {{menuOrder.dinner}}<span class="remove-item" {{action 'remove' day 'dinner'}}> X</span>
            {{/if}}
        </dl>
    </div>
    {{/each-in}}
</div>

{{yield}}
