<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 class="">{{model.name}}</h4>
                <img src="/images/{{model.image}}" alt="{{model.name}}">
            <p>{{model.rating}}</p>
            <p>{{model.description}}</p>
            <p>
                <!--<a href="/item/{{model.id}}/nutrition">Nutrition</a>-->
                {{#link-to 'item.nutrition'}}Nutrition{{/link-to}}
            </p>
            {{outlet}}
        </div>
    </div>
</div>


