Who's Hungy ?

{{log model}}

<div class="container">
    <div class="row">
        {{#each model as |item|}}
        <div class="col-md-4">
            <h4>{{item.name}}</h4>
            <img src="/images/{{item.image}}" alt="{{item.name}}">
            <a href="/item/{{item.id}}">Details</a>
        </div>
        {{/each}}
        {{outlet}}
    </div>
</div>

